/* -*- css -*-
 * Color Scheme:
 * Base color:          2C7184  304951  04303C  86CEE3  B5D9E3
 * triad color 1:       D4A842  82714B  614607  F5D68D  F5E6C2
 * triad color 2:       D45642  82524B  611307  F59B8D  F5C9C2
 * analogic 1:          316189	334555	052540	8DBEE7	BCD3E7
 * analogic 2:          298579	2F524D	053E36	86E6D9	B8E6E0
 * complement:          D48C42	9F764D	8A5015	EAAE71	EABE91
 */

$base-hue:              193;
$base-saturation:       50;
$base-lightness:        35;
$complement-hue:        30;
$triad-1-hue:           $complement-hue + 15;
$triad-2-hue:           $complement-hue - 15;
$analogic-1-hue:        $base-hue + 14;
$analogic-2-hue:        $base-hue - 14;

/* Base Color */
$base-color:            hsl($base-hue, $base-saturation, $base-lightness);
$base-color-dark:       saturate( darken($base-color, 20%), 10%);
$base-color-darker:     darken($base-color, 10%);
$bsae-color-light:      desaturate(lighten($base-color, 40%), 10%);
$base-color-lightened:  desaturate(lighten($base-color, 25%),  3%);

/* Triad Colors */
$triad-color-1:         hsl($triad-1-hue, $base-saturation, $base-lightness);
$triad-color-2:         hsl($triad-2-hue, $base-saturation, $base-lightness);

$triad-color-2-dark:    saturate(darken($triad-color-2, 20%), 10%);

/* Complement Color */
$complement-color:      hsl($complement-hue, $base-saturation, $base-lightness);
$complement-color-light: desaturate(lighten($complement-color, 40%), 10%);

/* Analogic Colors */
$analogic-color-1:      hsl($analogic-1-hue, $base-saturation, $base-lightness);
$analogic-color-2:      hsl($analogic-2-hue, $base-saturation, $base-lightness);

/* Black and White */
$black:                 desaturate(darken($base-color, 12%), 40%);
$white:                 hsl($complement-hue, 2, 93.333333333);
$dark-white:            darken($white,  8%);
$bright-white:          lighten($white, 6.66666666667%);

/* Gray */
$gray-hue:              $base-hue;
$gray-saturation:       2;
$gray-lightness:        52;
$gray:                  hsl($gray-hue, $gray-saturation, $gray-lightness);
$dark-gray:             darken($gray, 20%);
$light-gray:            lighten($gray, 40%);
$very-light-gray:       hsl($gray-hue, $gray-saturation, 98);

$golden-ratio: 1.61803;
