/* -*- css -*-
 * Color Scheme:
 * Base color:          2C7184  304951  04303C  86CEE3  B5D9E3
 * triad color 1:       D4A842  82714B  614607  F5D68D  F5E6C2
 * triad color 2:       D45642  82524B  611307  F59B8D  F5C9C2
 * analogic 1:          316189	334555	052540	8DBEE7	BCD3E7
 * analogic 2:          298579	2F524D	053E36	86E6D9	B8E6E0
 * complement:          D48C42	9F764D	8A5015	EAAE71	EABE91
 */

$base-color: #2c7184;
$base-color-dark: #04303c;
$base-color-medium-dark: #304951;

$triad-color-1: #d4a842;
$triad-color-1-medium-dark: #82714b;

$triad-color-2: #d45642;
$triad-color-2-dark: #611307;

$black: #2d2d2d;
$bright-black: #000000;

$dark-white: #ddd;
$white: #eee;
$bright-white: #ffffff;

$medium-gray: #858585;
$light-gray: #bababa;
$very-light-gray: #fef6f9;

$golden-ratio: 1.61803;
