/* -*- css -*- */

/* -------------------- *
 * Color Scheme
 * -------------------- */

/* base color: #2C7184 */
$base-hue:              193;
$base-saturation:       50;
$base-lightness:        35;

$complement-hue:        30;
$triad-1-hue:           $complement-hue + 20;
$triad-2-hue:           $complement-hue - 20;
$analogic-1-hue:        $base-hue + 14;
$analogic-2-hue:        $base-hue - 14;

/* Base Color */
$base-color:            hsl($base-hue, $base-saturation, $base-lightness);
$base-color-dark:       saturate( darken($base-color, 20%), 10%);
$base-color-darker:     darken($base-color, 10%);
$bsae-color-light:      desaturate(lighten($base-color, 40%), 10%);
$base-color-lightened:  desaturate(lighten($base-color, 25%),  3%);

/* Triad Colors */
$triad-color-1:         hsl($triad-1-hue, $base-saturation, $base-lightness);
$triad-color-2:         adjust-hue($base-color, $triad-2-hue);

$triad-color-2-dark:    saturate(darken($triad-color-2, 20%), 10%);

/* Complement Color */
$complement-color:      hsl($complement-hue, $base-saturation, $base-lightness);
$complement-color-light: desaturate(lighten($complement-color, 40%), 10%);

/* Analogic Colors */
$analogic-color-1:      hsl($analogic-1-hue, $base-saturation, $base-lightness);
$analogic-color-2:      hsl($analogic-2-hue, $base-saturation, $base-lightness);

/* Black and White */
$black:                 desaturate(darken($base-color, 12%), 40%);
$white:                 hsl($complement-hue, 2, 93.333333333);
$dark-white:            darken($white,  8%);
$bright-white:          lighten($white, 6.66666666667%);

/* Gray */
$gray-hue:              $base-hue;
$gray-saturation:       2;
$gray-lightness:        52;
$gray:                  hsl($gray-hue, $gray-saturation, $gray-lightness);
$dark-gray:             darken($gray, 20%);
$light-gray:            lighten($gray, 40%);
$very-light-gray:       hsl($gray-hue, $gray-saturation, 98);

$golden-ratio: 1.61803;


/* -------------------- *
 * Page Style
 * -------------------- */

/* Basic Text Colors */
$default-text-color:    $black;
$default-bg-color:      $bright-white;

/* Links */
$link-color:            $base-color;
$link-bg-color:         $very-light-gray;
$link-hover-color:      darken(saturate($triad-color-1, 30%), 5%);
$link-hover-bg-color:   $very-light-gray;

/* Code */
$code-color:            $triad-color-2-dark;
$code-bg-color:         $very-light-gray;
$pre-color:             $black;
$pre-bg-color:          $very-light-gray;
$pre-border-color:      $light-gray;

/* Navbar */
$navbar-color:          $white;
$navbar-bg-color:       $base-color-dark;
$navbar-border-color:   $light-gray;
$navbar-brand-color:    $bright-white;
$navbar-height:         50px;
$navbar-link-hover-color: $base-color-darker;

/* Footer */
$footer-border-color:   $dark-gray;
$footer-bg-color:       $gray;
$footer-height:         100px;
$footer-link-color:     $bright-white;
$footer-link-hover-color: $bright-white;
$footer-text-color:     $dark-white;

/* Footnotes */
$footnotes-lighten:     20%;
