html {
    /* little hack to make sure the page is big enough to scroll past most of the
     * header image */
    height: 125%;
}
body {
    height: 100%;
}

body {
    background-color: #fdf6e3;
    color: #657b83;
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 50px;
}

h1 {
    color: #586e75;
}

h2, h3, h4, h5, h6 {
    color: #657b83;
}

a {
    color: #268bd2;
}
a:hover {
    color: #2aa198;
}

#wrap {
    min-height: 100%;
}

.logo {
    width: 0.8em;
    height: 0.8em;
    position: relative;
    top: 0.0em;
    display: inline-block;
}

#content p {
    text-align: justify;
}

/* Header and Navigation Toolbar */
#header {
    margin-bottom: 26px;
}

#navbar {
    background-color: #b58900;
}

.navbar-brand {
    color: #fdf6e3;
}

#navbar a {
    color: #fdf6e3;
}

#headerImage {
    position: relative;
    top: 0px;
    left: 0px;
}

a#post {
    position: absolute;
    top: 70%;
    top: calc(100% - 150px);
}

/* Footer and License */
footer.yq-footer {
    background-color: #586e75;
    border-top: 1px dotted #657b83;
    clear: both;
    color: #fdf6e3;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 40px;
    position: relative;
}

footer a {
    color: #fdf6e3;
}
/**
 */
