html {
    /* little hack to make sure the page is big enough to scroll past most of the
     * header image */
    min-height: calc(100% + 500px);
}

body {
    background-color: #fdf6e3;
    color: #657b83;
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 50px;
}

h1 {
    color: #586e75;
}

h2, h3, h4, h5, h6 {
    color: #657b83;
}

a {
    color: #268bd2;
}
a:hover {
    color: #2aa198;
}

.container {
    max-width: 75ex;
}

#content p {
    text-align: justify;
}

/* Header and Navigation Toolbar */
#header {
    margin-bottom: 26px;
}

#navbar {
    background-color: #a57705;
}

#navbar a {
    color: #fdf6e3;
}

#headerImage {
    position: relative;
    top: 0px;
    left: 0px;
}

a#post {
    position: absolute;
    top: 70%;
    top: calc(100% - 150px);
}
/**
 */
