/* -*- css -*- */
.navbar-brand, .yq-footer {
  * {
    stroke: none;
  }
  .lupe .lens {
      stroke: $navbarBrandColor;
  }
  .lupe .handle {
      fill: $navbarBrandColor;
  }
  .hours .dial, .minutes .dial {
      fill: $navbarBrandColor;
  }
  .seconds {
    .dial {
      fill: $navbarBrandColor;
      opacity: 50;
    }
  }
  .centerpiece {
    fill: $navbarBrandColor;
  }
}

.black-logo {
  * {
    stroke: none;
  }
  .lupe .lens {
      stroke: black;
  }
  .lupe .handle {
      fill: black;
  }
  .hours .dial, .minutes .dial {
      fill: black;
  }
  .seconds {
    .dial {
      fill: black;
      opacity: 50;
    }
  }
  .centerpiece {
    fill: black;
  }
}

.blue-logo {
  * {
    stroke: none;
  }
  .lupe .lens {
      stroke: $navbarBackgroundColor;
  }
  .lupe .handle {
      fill: $navbarBackgroundColor;
  }
  .hours .dial, .minutes .dial {
      fill: $navbarBackgroundColor;
  }
  .seconds {
    .dial {
      fill: $navbarBackgroundColor;
      opacity: 50;
    }
  }
  .centerpiece {
    fill: $navbarBackgroundColor;
  }
}

/**
 * Local Variables:
 * css-indent-offset: 2
 * end:
 */
