/* -*- css -*- */
.navbar-brand, .yq-footer {
  * {
    stroke: none;
  }
  .lupe .lens {
      stroke: $navbar-brand-color;
  }
  .lupe .handle {
      fill: $navbar-brand-color;
  }
  .hours .dial,
  .minutes .dial {
      fill: $navbar-brand-color;
  }
  .seconds {
    .dial {
      fill: $navbar-brand-color;
      opacity: 50;
    }
  }
  .centerpiece {
    fill: $navbar-brand-color;
  }
}

.black-logo {
  * {
    stroke: none;
  }
  .lupe .lens {
      stroke: black;
  }
  .lupe .handle {
      fill: black;
  }
  .hours .dial,
  .minutes .dial {
      fill: black;
  }
  .seconds {
    .dial {
      fill: black;
      opacity: 50;
    }
  }
  .centerpiece {
    fill: black;
  }
}

.blue-logo {
  * {
    stroke: none;
  }
  .lupe .lens {
      stroke: $navbar-background-color;
  }
  .lupe .handle {
      fill: $navbar-background-color;
  }
  .hours .dial,
  .minutes .dial {
      fill: $navbar-background-color;
  }
  .seconds {
    .dial {
      fill: $navbar-background-color;
      opacity: 50;
    }
  }
  .centerpiece {
    fill: $navbar-background-color;
  }
}

/**
 * Local Variables:
 * css-indent-offset: 2
 * end:
 */
