/* -*- css -*- */
@import "css/_settings.scss";


/* Basic Text Colors */
$default-text-color:    $black;
$default-bg-color:      $bright-white;

/* Links */
$link-color:            $base-color;
$link-bg-color:         $very-light-gray;
$link-hover-color:      darken(saturate($triad-color-1, 30%), 5%);
$link-hover-bg-color:   $very-light-gray;

/* Code */
$code-color:            $triad-color-2-dark;
$code-bg-color:         $very-light-gray;
$pre-color:             $black;
$pre-bg-color:          $very-light-gray;
$pre-border-color:      $light-gray;

/* Navbar */
$navbar-color:          $white;
$navbar-bg-color:       $base-color-dark;
$navbar-border-color:   $light-gray;
$navbar-brand-color:    $bright-white;
$navbar-height:         50px;
$navbar-link-hover-color: $base-color-darker;

/* Footer */
$footer-border-color:   $dark-gray;
$footer-bg-color:       $gray;
$footer-height:         100px;
$footer-link-color:     $bright-white;
$footer-link-hover-color: $bright-white;
$footer-text-color:     $dark-white;


/* -------------------- *
 * General Page Layout
 * -------------------- */

html {
  height: 100%;
}

body {
  color: $default-text-color;
  background-color: $default-bg-color;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  padding-top: $navbar-height;
  padding-bottom: 2 * $footer-height;
}

/* Helper div, needed to keep footer fixed at the bottom */
#wrap {
  min-height: 100%;
}

#content p {
  text-align: justify;
}

/* -------------------- *
 * Headers
 * -------------------- */

@mixin headerCode {
  code {
    color: $triad-color-2;
    background-color: $default-bg-color;
  }
}

h1 {
  color: $base-color-dark;
  @include headerCode;
}
h2, h3, h4, h5, h6 {
  color: $base-color-darker;
  @include headerCode;
}

/* -------------------- *
 * Special Elements
 * -------------------- */

a {
  color: $link-color;
  background-color: $link-bg-color;

  &:hover {
    background-color: $link-hover-bg-color;
    color: $link-hover-color;
    text-decoration: none;

    code {
      color: $link-hover-color;
    }
  }

  &[href^="http://"]::after,
  &[href^="https://"]::after {
    content: "";
    font-family: FontAwesome;
    font-size: 75%;
    margin-left: 0.3em;
    vertical-align: baseline;
  }

  &[href^="mailto:"]::after {
    content: "";
    font-family: FontAwesome;
    font-size: 75%;
    margin-left: 0.3em;
    vertical-align: baseline;
  }
}

date {
  color: $base-color-darker;
}

abbr[title],
abbr[data-original-title] {
  border-color: $light-gray;
}

/* -------------------- *
 * Posts and Post Lists
 * -------------------- */

ul.post-list {
  li {
    font-size: larger;
    line-height: 2em;
  }
}

/* -------------------- *
 * Code
 * -------------------- */

/* Inline code */
code {
  color: $code-color;
  background-color: $code-bg-color;
  white-space: nowrap;
}

/* Blocks of code */
pre {
  color: $pre-color;
  background-color: $pre-bg-color;
  border: 1px solid $pre-border-color;
}

/* -------------------- *
 * Icons and Logos
 * -------------------- */

.logo {
  display: inline-block;
  height: 0.8em;
  position: relative;
  top: 0.0em;
  width: 0.8em;
}

/* -------------------- *
 * Navigation Bar
 * -------------------- */

#header {
  margin-bottom: 26px;
}

#navbar {
  color: $navbar-color;
  background-color: $navbar-bg-color;
  border-color: $navbar-border-color;

  $paddingLeftRight: 15px;
  a {
    color: $navbar-color;
    background-color: inherit;
    &:hover {
      color: $navbar-brand-color;
      background-color: $navbar-link-hover-color;

      .navbar-brand {
        background-color: $navbar-link-hover-color;
        display: block;
        margin-left: -$paddingLeftRight;
        margin-right: -$paddingLeftRight;
        padding-left: $paddingLeftRight;
        padding-right: $paddingLeftRight;
        position: relative;
      }
    }

    .navbar-brand {
      color: $navbar-brand-color;
    }
  }
}

/* -------------------- *
 * Header Image
 * -------------------- */

#headerImageContainer {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  max-height: calc($navbar-height * (1 + $golden-ratio));
}

#headerImg {
  border: 0px;
}

@media screen and (min-device-width: 768px) {
  #headerImg {
    opacity: 0;
  }
  #headerImageContainer {
    background-image: url("/img/header_1024x332.jpg");
    display: block;
  }
}
@media screen and (min-device-width: 1024px) {
  #headerImageContainer {
    background-image: url("/img/header_1280x415.jpg");
  }
}
@media screen and (min-device-width: 1600px) {
  #headerImageContainer {
    background-image: url("/img/header.jpg");
  }
}

/* -------------------- *
 * Footer and License
 * -------------------- */

footer {
  background-color: $footer-bg-color;
  border-top: 1px solid $footer-border-color;
  clear: both;
  color: $footer-text-color;
  margin-top: $footer-height;
  min-height: $footer-height;
  padding-top: ($footer-height / $golden-ratio) / 2;

  a {
    background-color: inherit;
    color: $footer-link-color;
  }

  a:hover {
    background-color: $dark-gray;
    color: $footer-link-hover-color;
  }
}


/* Misc
 * **** */
/* Avoiding Spam */
.obfuscated-mail-address {
  &::before {
    content: attr(data-user);
  }

  > * {
    display: none;
  }

  &::after {
    content: attr(data-domain);
  }
}

/* Graphics */
@import "css/graphics.scss";
@import "css/syntax.scss";

/**
 * Local Variables:
 * css-indent-offset: 2
 * end:
 */
