/* -*- css -*-
 * Color Scheme:
 * Base color:          2C7184  304951  04303C  86CEE3  B5D9E3
 * triad color 1:       D4A842  82714B  614607  F5D68D  F5E6C2
 * triad color 2:       D45642  82524B  611307  F59B8D  F5C9C2
 * analogic 1:          316189	334555	052540	8DBEE7	BCD3E7
 * analogic 2:          298579	2F524D	053E36	86E6D9	B8E6E0
 * complement:          D48C42	9F764D	8A5015	EAAE71	EABE91
 */

$navbarColor: #ddd;
$navbarBrandColor: #ffffff;
$navbarBackgroundColor: #04303c;
$navbarBorderColor: #bababa;
$navbarLinkHover: #304a52;

$headline1: #04303c;
$headline2: #304951;

$link: #2c7184;
$linkBackground: #fafafa;
$linkHover: #82714b;


$text: #2d2d2d;

$codeColor: #611307;
$codeBackground: #fef6f9;
$headerCodeColor: #611307;
$headerCodeBackgroundColor: white;

$footerBorder: #bababa;
$footerBackground: #858585;
$footerColor: #ddd;
$footerLink:  #fff;

html {
  height: 100%;
}

body {
  height: 100%;
}

body {
  color: $text;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 50px;
}

@mixin headerCode {
  code {
    color: $headerCodeColor;
    background-color: $headerCodeBackgroundColor;
  }
}


h1 {
  color: $headline1;
  @include headerCode;
}
h2, h3, h4, h5, h6 {
  color: $headline2;
  @include headerCode;
}

date {
  color: $headline2;
}

code {
  color: $codeColor;
  background-color: $codeBackground;
}

a {
  color: $link;
  background-color: $linkBackground;
}
a:hover {
  color: $linkHover;
  text-decoration: none;
}

#wrap {
  min-height: 100%;
}

.logo {
  width: 0.8em;
  height: 0.8em;
  position: relative;
  top: 0.0em;
  display: inline-block;
}

#content p {
  text-align: justify;
}

/* Header and Navigation Toolbar */
#header {
  margin-bottom: 26px;
}

#navbar {
  color: $navbarColor;
  background-color: $navbarBackgroundColor;
  border-color: $navbarBorderColor;

  a {
    color: $navbarColor;
    background-color: inherit;
  }
  a:hover {
    color: $navbarColor;
    background-color: $navbarLinkHover;
  }

  $paddingLeftRight: 15px;
  a .navbar-brand {
    color: $navbarBrandColor;
  }
  a:hover .navbar-brand {
    background-color: $navbarLinkHover;
    display: block;
    position: relative;
    margin-left: -$paddingLeftRight;
    margin-right: -$paddingLeftRight;
    padding-left: $paddingLeftRight;
    padding-right: $paddingLeftRight;
  }
}

#headerImg {
  border: 0px;
  width: 100%;
}

#headerImageContainer {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-device-width: 800px) {
  #headerImg {
    opacity: 0;
  }
  #headerImageContainer {
    background-image: url("/img/header_800x259.jpg");
  }
}
@media screen and (min-device-width: 1028px) {
  #headerImageContainer {
    background-image: url("/img/header_1280x415.jpg");
  }
}
@media screen and (min-device-width: 1600px) {
  #headerImageContainer {
    background-image: url("/img/header.jpg");
  }
}

/* Footer and License */
footer.yq-footer {
  background-color: $footerBackground;
  border-top: 1px dotted $footerBorder;
  clear: both;
  color: $footerColor;
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
}

footer a, footer a:hover {
  color: $footerLink;
  background-color: inherit;
}

/* Misc
 * **** */
/* Avoiding Spam */
.obfuscated-mail-address::before {
  content: attr(data-user);
}
.obfuscated-mail-address > * {
  display: none;
}
.obfuscated-mail-address::after {
  content: attr(data-domain);
}

/* Graphics */
@import "css/graphics.scss"

/**
 * Local Variables:
 * css-indent-offset: 2
 * end:
 */
