html {
  /* little hack to make sure the page is big enough to scroll past most of the
   * header image */
  height: 100%;
}

body {
  height: 100%;
}

body {
  background-color: #fdf6e3;
  color: #657b83;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 50px;
}

h1 {
  color: #586e75;
}

h2, h3, h4, h5, h6 {
  color: #657b83;
}

a {
  color: #268bd2;
}
a:hover {
  color: #2aa198;
}

#wrap {
  min-height: 100%;
}

.logo {
  width: 0.8em;
  height: 0.8em;
  position: relative;
  top: 0.0em;
  display: inline-block;
}

#content p {
  text-align: justify;
}

/* Header and Navigation Toolbar */
#header {
  margin-bottom: 26px;
}

#navbar {
  background-color: #b58900;
}

.navbar-brand {
  color: #fdf6e3;
}

#navbar a {
  color: #fdf6e3;
}

#headerImg {
  border: 0px;
  width: 100%;
}

#headerImageContainer {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-device-width: 800px) {
  #headerImg {
    opacity: 0;
  }
  #headerImageContainer {
    background-image: url("/img/header_800x259.jpg");
  }
}
@media screen and (min-device-width: 1028px) {
  #headerImageContainer {
    background-image: url("/img/header_1280x415.jpg");
  }
}
@media screen and (min-device-width: 1600px) {
  #headerImageContainer {
    background-image: url("/img/header.jpg");
  }
}

/* Footer and License */
footer.yq-footer {
  background-color: #586e75;
  border-top: 1px dotted #657b83;
  clear: both;
  color: #eee8d5;
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
}

footer a, footer a:hover {
  color: #fdf6e3;
}

/* Misc
 * **** */
/* Avoiding Spam */
.moltkeplatzMail:before {
  content: attr(data-user);
}
.moltkeplatzMail:after {
  content: attr(data-domain);
}

/**
 * Local Variables:
 * css-indent-offset: 2
 * end:
 */
