/* -*- css -*- */

/* -------------------- *
 * Color Scheme
 * -------------------- */

/* base color: #2C7184 */
$base-hue:              193;
$base-saturation:       50;
$base-lightness:        35;

$triad-hue-adjust:      160;
$analogic-hue-adjust:   14;

/* Base Color */
$base-color:            hsl($base-hue, $base-saturation, $base-lightness);
$base-color-dark:       saturate( darken($base-color, 15%), 7%);
$base-color-darkened:   darken($base-color, 7%);
$bsae-color-light:      desaturate(lighten($base-color, 40%), 10%);
$base-color-lightened:  desaturate(lighten($base-color, 25%),  3%);

/* Triad Colors */
$triad-color-1:         adjust-hue($base-color, -$triad-hue-adjust);
$triad-color-2:         adjust-hue($base-color,  $triad-hue-adjust);

/* Complement Color */
$complement-color:      adjust-hue($base-color, 180deg);

/* Analogic Colors */
$analogic-color-1:      adjust-hue($base-color,  $analogic-hue-adjust);
$analogic-color-2:      adjust-hue($base-color, -$analogic-hue-adjust);

/* Black and White */
$black:                 desaturate(darken($base-color, 12%), 40%);
$white:                 adjust-hue(hsl($base-hue, 2, 93.333333333), 180);
$dark-white:            darken($white,  8%);
$bright-white:          lighten($white, 6.66666666667%);

/* Gray */
$gray-hue:              $base-hue;
$gray-saturation:       2;
$gray-lightness:        52;
$gray:                  hsl($gray-hue, $gray-saturation, $gray-lightness);
$dark-gray:             darken($gray, 20%);
$light-gray:            lighten($gray, 40%);
$very-light-gray:       hsl($gray-hue, $gray-saturation, 98);

$golden-ratio: 1.61803;


/* -------------------- *
 * Page Style
 * -------------------- */

/* Basic Text Colors */
$default-text-color:    $black;
$default-bg-color:      $bright-white;

/* Links */
$link-color:            $base-color;
$link-bg-color:         $very-light-gray;
$link-hover-color:      $triad-color-1;
$link-hover-bg-color:   $very-light-gray;

/* Code */
$code-color:            $triad-color-2;
$code-bg-color:         $very-light-gray;
$pre-color:             $black;
$pre-bg-color:          $very-light-gray;
$pre-border-color:      $light-gray;

/* Navbar */
$navbar-color:          $white;
$navbar-bg-color:       $base-color-dark;
$navbar-border-color:   $light-gray;
$navbar-brand-color:    $bright-white;
$navbar-height:         50px;
$navbar-link-hover-color: $bright-white;
$navbar-link-hover-bg-color: $base-color;

/* Footer */
$footer-border-color:   $dark-gray;
$footer-bg-color:       $gray;
$footer-height:         100px;
$footer-link-color:     $bright-white;
$footer-link-hover-color: $bright-white;
$footer-text-color:     $dark-white;

/* Footnotes */
$footnotes-lighten:     20%;
