<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title$ &ndash; Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
  </head>
  <body>
    <div id="header">
      <div id="navigation">
        <a href="/index.html#post">Home</a>
        <a href="/posts.html#post">All posts</a>
        <a href="/about.html#post">About</a>
        <a href="/imprint.html#post">Imprint</a>
      </div>
      <div id="headerImage">
        <!-- jump marker, so people don't have to look at the whole header
        image all the time -->
        <a id="post" />
        <img src="/img/header.jpg" style="width: 100%" />
      </div>
    </div>

    <div id="content">
      $body$
    </div>
  </body>
</html>
