<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      itemscope="" itemtype="http://schema.org/Blog">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <title>$title$ &ndash; ZeitLinse</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/img/zeitlinse-logo-small.svg" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/zeitlinse.css" />
    <link rel="author"     href="/imprint.html" />
    <link itemprop="image" href="/img/zeitlinse.svg" />
    <link rel="apple-touch-icon" href="/img/zeitlinse-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/zeitlinse-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/zeitlinse-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/img/zeitlinse-icon-144x144.png" />
    <link rel="alternate"  href="/atom.xml" title="ATOM"
          type="application/atom+xml" />
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/zeitlinse.js"></script>
  </head>
  <body>
    <div id="wrap">
      <div id="header">

        <nav id="navbar" class="navbar navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-exl-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
              </button>
              <a href="/">
                <div class="navbar-brand">
                <!-- ZeitLinse logo -->
                  <svg viewBox="0 0 220 220"
                       xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink"
                       class="logo" id="zl-logo">
                    <defs>
                      <symbol id="zeitlinse-logo">
                        <g transform="translate(100 100)">
                          <!-- hours -->
                          <g class="hours" transform="rotate(310)">
                            <rect class="dial" x="-11" y="-50" width="22" height="50" ry="16px" fill="white"/>
                          </g>
                          <!-- minutes -->
                          <g class="minutes" transform="rotate(60)">
                            <rect class="dial" x="-10" y="-70" width="20" height="70" ry="14px" fill="white"/>
                          </g>
                          <!-- seconds -->
                          <g class="seconds" transform="rotate(200)" id="secdial">
                            <circle class="centerpiece" cx="0" cy="0" r="2" stroke="none"  fill="white" />
                            <rect class="dial" x="-2" y="-73" width="4" height="73" ry="5px" fill="white"/>
                          </g>
                          <!-- clock center -->
                          <circle class="centerpiece hours minutes" cx="0" cy="0" r="15" stroke="none" fill="white"/>
                        </g>
                        <g class="lupe" transform="translate(100 100) rotate(45)">
                          <!-- lens -->
                          <circle class="lens" cx="0" cy="0" r="86" fill="none" stroke="white" stroke-width="26px" />
                          <!-- handle -->
                          <rect class="handle" x="90" y="-30px" width="40" height="60px" rx="5px" fill="white" />
                        </g>
                      </symbol>
                    </defs>
                    <use xlink:href="#zeitlinse-logo" />
                  </svg> ZeitLinse
                </div>
              </a>
            </div>
            <div class="collapse navbar-collapse navbar-exl-collapse">
              <ul class="nav navbar-nav">
                <li><a href="/posts.html">All posts</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/imprint.html">Imprint</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <div id="headerImageContainer">
          <img id="headerImg" src="/img/header_400x129.jpg" class="img-responsive" alt="" />
        </div>
      </div>

      <div id="content" class="container">
        $body$
      </div>
    </div>
    <footer class="yq-footer">
      <div class="container"
           xmlns:dct="http://purl.org/dc/terms/"
           xmlns:cc="http//creativecommons.org/ns#">
        <span property="dct:title" style="display: none">ZeitLinse-Blog</span>
        <svg xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             class="logo">
          <use xlink:href="#zl-logo" />
        </svg>-Blog is &copy;
        <a xmlns:cc="http://creativecommons.org/ns#"
           href="http://zeitlinse.moltkeplatz.de/imprint.html#content"
           property="cc:attributionName"
           rel="cc:attributionURL">Albert Krewinkel</a>
        and licensed under a
        <a rel="license"
           href="http://creativecommons.org/licenses/by-sa/3.0/de/deed.en_US">
          Creative Commons Attribution-ShareAlike 3.0 Germany
          License</a>.
      </div>
    </footer>
  </body>
</html>
