<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title$ &ndash; Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/graphics.css" />
  </head>
  <body>
    <div id="header">

      <nav id="navbar" class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <span class="navbar-brand">
              <img src="/img/zeitlinse.svg" width="15px" /> ZeitLinse
            </span>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/index.html#post">Home</a></li>
            <li><a href="/posts.html#post">All posts</a></li>
            <li><a href="/about.html#post">About</a></li>
            <li><a href="/imprint.html#post">Imprint</a></li>
          </ul>
        </div>
      </nav>

      <div id="headerImage">
        <!-- jump marker, so people don't have to look at the whole header
        image all the time -->
        <a id="post" />
        <img src="/img/header.jpg" class="img-responsive" alt="" />
      </div>
    </div>

    <div id="content" class="container">
      <div id="mainm">
        $body$
      </div>
    </div>
    <footer class="yq-footer">
      <div class="container">
        Created by Albert Krewinkel
      </div>
    </footer>
  </body>
</html>
